@charset "utf-8";

// Customization

$family-sans-serif: 'Titillium Web', sans-serif;
// $navbar-height: 4.375rem;
$navbar-item-img-max-height: 4.375rem;
$navbar-item-hover-background-color: transparent;
$section-padding: 1rem;
$section-padding-medium: 3rem 1rem;
$primary: #9f9f9f;
$link: $primary;
$modal-card-body-padding: 1.5rem;
$size-1: 4rem;
$modal-z: 1000;

// Image dimensions
$dimensions: 300;

@import 'bulma/bulma';

@import 'layout/hero';
@import 'elements/tag';
@import 'components/artist-hover';
@import 'components/social-media';
@import 'vendor/embed';

.columns.is-variable .column {
  padding: var(--columnGap);
}

.template-artist {
  position: relative;
}

.container.is-narrow {
  max-width: 60rem; // 960px
}

.has-text-shadow {
  text-shadow: 1px 1px 15px $black;
}

a svg {
  fill: currentColor;
}

.icon.provider-icon {
  height: 1.5rem;
  width: 1.5rem;
}

// tiny slider

@import 'tiny-slider/src/tiny-slider';
